---
import Layout from "../../layouts/Layout.astro";
import {contentfulClient} from "../../lib/contentful";
import {documentToHtmlString} from "@contentful/rich-text-html-renderer";
import type {BlogPost} from "../../lib/blogPost";

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries<BlogPost>({
        content_type: "blogPost",
    });
    return entries.items.map((entry) => ({
        params: {slug: entry.fields.slug},
        props: {
            title: entry.fields.title,
            date: new Date(entry.fields.date).toLocaleDateString(),
            content: documentToHtmlString(entry.fields.content),
        }
    }));
}
const { content, title, date } = Astro.props;

---
<Layout>
    <h1>{title}</h1>
    <time>{date}</time>
    <article set:html={content} />
</Layout>