---
import Layout from '../layouts/Layout.astro';
import {contentfulClient} from "../lib/contentful";
import type {BlogPost} from "../lib/blogPost";
import Hero from '../components/Hero.astro';

const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
})

const posts = entries.items.map((entry) => {
    return {
        title: entry.fields.title,
        slug: entry.fields.slug,
        description: entry.fields.description,
        date: new Date(entry.fields.date).toLocaleDateString()
    }
});
---

<Layout>
    <Hero title="landing-page-hero" sfx="glitch" id="home-hero"/>
    <div class="p-4 container mx-auto">
        <h2>Latest Posts</h2>
        <ul>
            {posts.map((post) => (
                    <li>
                        <a href={`/posts/${post.slug}/`}>
                            <h2>{post.title}</h2>
                        </a>
                        <time>{post.date}</time>
                        <p>{post.description}</p>
                    </li>
            ))}
        </ul>
    </div>
</Layout>
