---
import type { ComponentHero } from "../lib/componentHero";
import { contentfulClient } from "../lib/contentful";
import type {Asset} from "contentful";
import {documentToHtmlString} from "@contentful/rich-text-html-renderer";

import HeroGlitchAnimationLayers from "./HeroGlitchAnimationLayers.astro";
import HeroShakeAnimationLayers from "./HeroShakeAnimationLayers.astro";
import HeroWarholAnimationLayers from "./HeroWarholAnimationLayers.astro";
import logo from "../img/cat_logo.svg";
import {richTextOptions} from "../lib/richTextOptions";

const { slug, sfx } = Astro.props;
//set variables for hero content
let desktopBackgroundUrl = '../img/default_desktop_background.jpg';
let mobileBackgroundUrl = '../img/default_mobile_background.jpg';

let heroTitle;
let heroContent;
let heroButtonText;
let heroButtonUrl;

//request hero content from contentful with slug passed to props. Store in ComponentHero interface
const hero =
    await contentfulClient.getEntries<ComponentHero>({
        content_type: 'componentHero',
        'fields.slug': slug,
    }).then((response) => {
        //return the selected entry
        return response.items[0];
    }).catch((error) => {
        //fail if no entry is found
        console.error("Failed to fetch entry:", error);
        return null;
});

// error out if no hero content is found
if(!hero){console.log("No entry found for hero component. Ensure your slug is correct!")}
else{

    if(hero.fields.desktopBackground){
        const desktopBackgroundAsset = hero.fields.desktopBackground as Asset;
        desktopBackgroundUrl = `https:${desktopBackgroundAsset.fields.file?.url}`;
    }
    if(hero.fields.mobileBackground){
        const mobileBackgroundAsset = hero.fields.mobileBackground as Asset;
        mobileBackgroundUrl = `https:${mobileBackgroundAsset.fields.file?.url}`;
    }

    heroTitle = hero.fields.title;
    heroContent = documentToHtmlString(hero.fields.content, richTextOptions);
    heroButtonText = hero.fields.buttonText;
    heroButtonUrl = hero.fields.buttonUrl as string || "#";
}
---

<!-- #hero-home has a defined height via Tailwind -->

<div
        id="hero-home"
        class="
    bg-hero
    aspect-hero-mobile       /* e.g., aspect ratio for mobile */
    sm:aspect-hero-desktop   /* e.g., aspect ratio for desktop */
    w-full
    relative                 /* if you need positioned elements inside */
    overflow-hidden
  "
        data-desktop-bg={desktopBackgroundUrl}
        data-mobile-bg={mobileBackgroundUrl}
        data-sfx={sfx}
>
    <!-- animation layers -->
    <div class="absolute inset-0 z-0">
        {sfx === "glitch" ? <HeroGlitchAnimationLayers />: null}
        {sfx === "shake" ? <HeroShakeAnimationLayers />: null}
        {sfx === "warhol" ? <HeroWarholAnimationLayers />: null}
    </div>





     <!--Hero content -->
    <div id="hero-content-grid" class="content h-full w-full p-4 container mx-auto grid sm:grid-cols-2 relative">
        <div class=" order-2 sm:order-1"></div>
        <div class="order-1 sm:order-2 h-100">
            <div class="bg-primary bg-opacity-85 p-4">
            <!--<Svg name="cat-logo" class="mx-auto  sm:h-1/4 lg:h-32" />-->
                <img
                    class="max-h-32 sm:max-h-11 md:max-h-14 mx-auto"
                    src={logo.src}
                    alt="Cat Logo"
                />
                {heroTitle && <h1 class="text-center text-xl sm:text-lg">{heroTitle}</h1>}
                {heroContent &&   <div set:html={heroContent} ></div>}

                <a href={heroButtonUrl} class="block text-white hover:text-primary border border-white hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-blue-800 w-full">{heroButtonText}</a>
            </div>
        </div>


    </div>
</div>

<script>
    // Grab the hero element */
    import glitchAnimation from "../animations/glitch";
    import shakeAnimation from "../animations/shake";
    import warholAnimation from "../animations/warhol";
    const heroElement = document.getElementById('hero-home');


    const backgroundStyles:string = `
    .content-title,
.content-text {
    animation-name: glitch-anim-text;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.content-title {
    animation-delay: calc(2s + 4s * 0.2);
}

.content-text {
    position: absolute;
    font-size: 1.5em;
    top: 4em;
    right: 10vw;
    max-width: 500px;
    text-align: right;
    font-weight: 400;
    animation-delay: calc(2s + 4s * 0.25);
}

    .bg-hero {
      background-image: url("${heroElement?.dataset.mobileBg}");
      background-size: cover;
      background-position: center;
    }
     @media (min-width: 740px) {
     .bg-hero{
        background-image: url("${heroElement?.dataset.desktopBg}") !important
      }
     }
    `
    let styles = backgroundStyles;
    if(heroElement?.dataset.sfx === "glitch"){
        styles += glitchAnimation()
    }
    else if(heroElement?.dataset.sfx === "shake"){
        styles += shakeAnimation()
    }
    else if (heroElement?.dataset.sfx === "warhol"){
        styles += warholAnimation()
    }







    // Dynamic CSS


    // Inject the style into the page
    const styleSheet = document.createElement('style');
    styleSheet.textContent = styles
    document.head.appendChild(styleSheet);
</script>
